<%- include("header") -%>

<%- include("navbar") -%>

<%- include("titleSubtitle") -%>

<!-- Tabeça e gráfico -->
<div class="container row chart-table">
    <%- include("table") -%>

    <%- include("chart") -%>
</div>

<%- include("bootStrapScripts") -%>

<%- include("chartJsAndJQuery") -%>

<%- include("plotChart") -%>

<%- include("footer") -%>